html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.seccion{
    padding: 3rem;
}    


p{
    margin: 0;
    padding: 0;
}
section{
    padding: 3rem;
}
img,
picture {
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    font-size: 2rem;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
