nav {
  text-align: center;
  background-color: #000;
  display: grid;
  align-items: center;
  .logo {
    img {
      width: 10%;
      margin: 0 auto;
    }
  }
  .menu {
    text-align: center;
    @include grid(1, 1rem);
    a {
      color: #fff;
      text-transform: uppercase;
      padding: 1rem;
      transition: all 0.5s ease;
    }
    :hover {
      background-color: #e75f22;
      padding: 1rem;
    }
  }
}

@include telefono {
  nav {
    .menu {
      display: block;
      a {
        margin-right: 3rem;
      }
    }
  }
}

@include desktop {
  nav {
    @include grid(2, 1rem);
    .logo {
    }
  }
}
