//MENU HAMBURGUESA
header {
  background-color: #000;
  text-align: center;
  .logo {
    img {
      margin: 0 auto;
      width: 5%;
    }
  }

  ul {
    display: none;
  }

  input:checked ~ ul {
    display: block;
  }
  label {
    color: #fff;
    font-size: 4rem;
  }

  input {
    display: none;
  }

  ul {
    margin: 0 auto;
    // margin-top: 0;
    padding: 0;

    li {
      margin: 2rem 0;
      a {
        color: #fff;
      }
    }
  }
}

@include desktop {
  header {
    align-items: center;
    input {
      display: none;
    }
    label {
      display: none;
    }
    ul {
      display: grid;
      @include grid(4, 0rem);
      li {
        a {
          transition: all 0.3s ease;
          border-bottom: 0.2rem solid transparent;
          padding-bottom: 1rem;
        }
        a:hover {
          border-bottom: 0.2rem solid $naranjaMovil;
        }
      }
    }

    @include grid(2, 1rem);
  }
}
